* {
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
}

div{
    margin-top: 2px;
    text-align: center;
    
}

.container{
    width: auto;
}

.Header{
    height: 200px;
}

.navbar{
    background-color: rgb(255, 238, 150);
    height: 45px;  
    
}

.MainContentArea{
    background-color: rgb(240, 149, 84);
    height: 500px;
    border: 5px solid rgb(255, 93, 0);
    
}

.footerColumns{
    display: flex;
}

.footerColumn{
    flex: 50%;
    margin: 20px;
}

.k{
    float: left;
}



header, footer {
    background-color: rgb(255, 213, 0);
}



a{
    text-decoration: none;
}


.wrapper{
    height: 250px;
}


.navbarList{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
   
    padding: 10px 30px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
} 

.post{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img{
    margin: 20px;
}

h2{
    font-size: 40px;
}
h1{
    padding: 100px;
}